<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99049917154-89ac89vkf5o1sr9ace01egjk9cn03uf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99049917154-89ac89vkf5o1sr9ace01egjk9cn03uf8</string>
	<key>API_KEY</key>
	<string>AIzaSyC026ZjFDQVzLHikiEd-bB-m_fwKdWCK3k</string>
	<key>GCM_SENDER_ID</key>
	<string>99049917154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.varadinum.instructional</string>
	<key>PROJECT_ID</key>
	<string>varadinum-instructional</string>
	<key>STORAGE_BUCKET</key>
	<string>varadinum-instructional.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99049917154:ios:888f9d54c3093a23412cbb</string>
	<key>DATABASE_URL</key>
	<string>https://varadinum-instructional.firebaseio.com</string>
</dict>
</plist>